<html>
    <head>
     <script src="https://www.google.com/recaptcha/api.js?&render=6Lfl84IdAAAAAAJEBZyq68a0CdOg3BEbpHicgBmE"></script>
    </head>
 <body>

 <script type = "text/javascript">
 document.addEventListener("DOMContentLoaded", function(){
   grecaptcha.ready(function() {
              grecaptcha.execute('6Lfl84IdAAAAAAJEBZyq68a0CdOg3BEbpHicgBmE', {action: 'submit'}).then(function(token) {
                 document.getElementById("gtoken").innerHTML = token
              });
            });
 });



function copy() {
  document.getElementById('gtoken').select()
  document.execCommand('copy')
}
 </script>



<textarea onfocus="this.select();" onmouseup="return false;"  id ="gtoken" readonly= "true" rows="4" cols="50"></textarea><br/>
<button onclick="copy()">copy</button>
<div id ="review_recaptcha"></div>

</html>
