<html>
    <head>
     <script type="text/javascript">
     </script>
    </head>
 <body>
   <ul>
       <li>
           <a href="{{authorizeUrl}}">Authorize Code</a> <br/>
           <p>{{authorizeUrl}}</p>
       </li>

     <li>
      <a href="{{url}}">Login with PIN</a> <br/>
      <span>DeviceId: {{deviceId}}</span>
      <p>{{url}}</p>
     </li>
   </ul>

    <hr/>
    {{session}}
 </body>
</html>
