<html>
    <head>
     <script type="text/javascript">
     </script>
    </head>
 <body>
   <ul>
     <li>
      <a href="oauth/pin">Login with PIN</a> <br/>
      <span>DeviceId: {{deviceId}}</span>
      <p>{{url}}</p>
     </li>
   </ul>

    <hr/>
    {{session}}
 </body>
</html>
